{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Multitails</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
<style>
/* On screens that are 767px wide or less, the background color is olive */
@media screen and (max-width: 767px) {
  .hiddenmobile {
    display: none;
  }
  .moveup{
    margin-top: -4em;
  }
}

/* On screens that are 767px wide or less, the background color is olive */
@media screen and (max-width: 470px) {
  
  .moveup{
    margin-top: -18em;
  }
}
@media screen and (max-width: 500px) {
  
  .moveup{
    margin-top: -18em;
  }
}


.slidecontainer {
  width: 100%;
}




.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
</style>
</head>

<body>









  <div class="d-flex" id="wrapper">

    <!-- Sidebar --> 
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
      {% for i in category %}
        <a href="{% url 'index:category' i.id %}" onmouseover="DivShow('cardiv')" onmouseout="DivHide('cardiv')" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">{{i.name|upper}}</a>
      {% endfor %}
<!--         <a href="#" onmouseover="DivShow('womenfashion')" onmouseout="DivHide('womenfashion')" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">WOMEN FASHION</a>
        <a href="#" onmouseover="DivShow('menfashion')" onmouseout="DivHide('menfashion')" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">MEN FASHION</a>
        <a href="#" onmouseover="DivShow('electronics')" onmouseout="DivHide('electronics')" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">ELECTRONICS</a>
        <a href="#" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">SKIN CARE PRODUCTS</a>
        <a href="#" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">TOILETRIES</a>
        <a href="#" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">PHONES AND ACCESSORIES</a>
        <a href="#" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">WEB DEVELOPMENT</a>
        <a href="#" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">GRAPHICS DESIGN</a>
        <a href="#" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action bg-light">HOME AND KITCHEN</a>
        <a href="#" style="color: black;font-weight: bold;font-size: .77em;color: green;" class="list-group-item list-group-item-action">MORE CATEGORIES</a> -->

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">



      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">









<div id="demo" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
<li data-target="#demo" data-slide-to="0" class="active"></li>
<li data-target="#demo" data-slide-to="1"></li>
<li data-target="#demo" data-slide-to="2"></li>
</ul>
<div class="carousel-inner">
<!--     <div class="carousel-item active">
<img src="{% static 'img/1.JPG' %}" class="img-fluid" alt="Los Angeles">
<div class="carousel-caption">

</div>   
</div> -->
<div class="carousel-item active">
<img src="{% static 'img/2.jpg' %}" alt="Chicago" class="img-fluid">
<div class="carousel-caption">
<!--         <h3>Chicago</h3>
<p>Thank you, Chicago!</p> -->
</div>   
</div>




<div class="carousel-item">
<img src="{% static 'img/5.jpg' %}" alt="New York" class="img-fluid"">
<div class="carousel-caption">
<!--         <h3>New York</h3>
<p>We love the Big Apple!</p> -->
</div>   
</div>

<div class="carousel-item">
<img src="{% static 'img/6.jpg' %}" alt="New York" class="img-fluid">
<div class="carousel-caption">
<!--         <h3>New York</h3>
<p>We love the Big Apple!</p> -->
</div>   
</div>

<div class="carousel-item">
<img src="{% static 'img/7.jpg' %}" alt="New York" class="img-fluid">
<div class="carousel-caption">
<!--         <h3>New York</h3>
<p>We love the Big Apple!</p> -->
</div>   
</div>

<div class="carousel-item">
<img src="{% static 'img/8.jpg' %}" alt="New York" class="img-fluid">
<div class="carousel-caption">
<!--         <h3>New York</h3>
<p>We love the Big Apple!</p> -->
</div>   
</div>

<div class="carousel-item">
<img src="{% static 'img/9.jpg' %}" alt="New York" class="img-fluid">
<div class="carousel-caption">
<!--         <h3>New York</h3>
<p>We love the Big Apple!</p> -->
</div>   
</div>

<div class="carousel-item">
<img src="{% static 'img/10.jpg' %}" alt="New York" class="img-fluid">
<div class="carousel-caption">
<!--         <h3>New York</h3>
<p>We love the Big Apple!</p> -->
</div>   
</div>

</div>
<a class="carousel-control-prev" href="#demo" data-slide="prev">
<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
<span class="carousel-control-next-icon"></span>
</a>
</div>

  <div class="table-responsive" style="display: none;" id="cardiv">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>CAR</th>
          <th>RACING CAR</th>
          <th>LUXURY SUV</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chevrolet</td>
          <td>Chevrolet</td>
          <td>Chevrolet</td>
       </tr>
       <tr>
          <td>Ford</td>
          <td>Ford</td>
          <td>Ford</td>
       </tr>
       <tr>
          <td>Nissan</td>
          <td>Nissan</td>
          <td>Nissan</td>
       </tr>
       <tr>
          <td>Audi</td>
          <td>Audi</td>
          <td>Audi</td>
       </tr>
       <tr>
          <td>Hyundai</td>
          <td>Hyundai</td>
          <td>Hyundai</td>
       </tr>
       <tr>
          <td>BMW</td>
          <td>BMW</td>
          <td>BMW</td>
       </tr>
       <tr>
          <td>Marcedes-Benz</td>
          <td>Marcedes-Benz</td>
          <td>Marcedes-Benz</td>
       </tr>

       <tr>
          <td>Mitsubishi</td>
          <td>Mitsubishi</td>
          <td>Mitsubishi</td>
       </tr>
       <tr>
          <td>Toyota</td>
          <td>Toyota</td>
          <td>Toyota</td>
       </tr>
       <tr>
          <td>Honda</td>
          <td>Honda</td>
          <td>Honda</td>
       </tr>
       <tr>
          <td>Volvo</td>
          <td>Volvo</td>
          <td>Volvo</td>
       </tr>

      </tbody>
    </table>
    </div> 


    <div class="table-responsive" style="display: none;" id="womenfashion">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>PARTY DRESS</th>
          <th>WOMEN SECRET</th>
          <th>SLEEPING DRESS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chevrolet</td>
          <td>Chevrolet</td>
          <td>Chevrolet</td>
       </tr>
       <tr>
          <td>Ford</td>
          <td>Ford</td>
          <td>Ford</td>
       </tr>
       <tr>
          <td>Nissan</td>
          <td>Nissan</td>
          <td>Nissan</td>
       </tr>
       <tr>
          <td>Audi</td>
          <td>Audi</td>
          <td>Audi</td>
       </tr>
       <tr>
          <td>Hyundai</td>
          <td>Hyundai</td>
          <td>Hyundai</td>
       </tr>
       <tr>
          <td>BMW</td>
          <td>BMW</td>
          <td>BMW</td>
       </tr>
       <tr>
          <td>Marcedes-Benz</td>
          <td>Marcedes-Benz</td>
          <td>Marcedes-Benz</td>
       </tr>

       <tr>
          <td>Mitsubishi</td>
          <td>Mitsubishi</td>
          <td>Mitsubishi</td>
       </tr>
       <tr>
          <td>Toyota</td>
          <td>Toyota</td>
          <td>Toyota</td>
       </tr>
       <tr>
          <td>Honda</td>
          <td>Honda</td>
          <td>Honda</td>
       </tr>
       <tr>
          <td>Volvo</td>
          <td>Volvo</td>
          <td>Volvo</td>
       </tr>

      </tbody>
    </table>
    </div>



    <div class="table-responsive" style="display: none;" id="electronics">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>CELL PHONE</th>
          <th>TOOLS</th>
          <th>MOBILE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chevrolet</td>
          <td>Chevrolet</td>
          <td>Chevrolet</td>
       </tr>
       <tr>
          <td>Ford</td>
          <td>Ford</td>
          <td>Ford</td>
       </tr>
       <tr>
          <td>Nissan</td>
          <td>Nissan</td>
          <td>Nissan</td>
       </tr>
       <tr>
          <td>Audi</td>
          <td>Audi</td>
          <td>Audi</td>
       </tr>
       <tr>
          <td>Hyundai</td>
          <td>Hyundai</td>
          <td>Hyundai</td>
       </tr>
       <tr>
          <td>BMW</td>
          <td>BMW</td>
          <td>BMW</td>
       </tr>
       <tr>
          <td>Marcedes-Benz</td>
          <td>Marcedes-Benz</td>
          <td>Marcedes-Benz</td>
       </tr>

       <tr>
          <td>Mitsubishi</td>
          <td>Mitsubishi</td>
          <td>Mitsubishi</td>
       </tr>
       <tr>
          <td>Toyota</td>
          <td>Toyota</td>
          <td>Toyota</td>
       </tr>
       <tr>
          <td>Honda</td>
          <td>Honda</td>
          <td>Honda</td>
       </tr>
       <tr>
          <td>Volvo</td>
          <td>Volvo</td>
          <td>Volvo</td>
       </tr>

      </tbody>
    </table>
    </div>



    <div class="table-responsive" style="display: none;" id="menfashion">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>FORMAL DRESS</th>
          <th>MEN'S SHOE</th>
          <th>CASUAL DRESS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chevrolet</td>
          <td>Chevrolet</td>
          <td>Chevrolet</td>
       </tr>
       <tr>
          <td>Ford</td>
          <td>Ford</td>
          <td>Ford</td>
       </tr>
       <tr>
          <td>Nissan</td>
          <td>Nissan</td>
          <td>Nissan</td>
       </tr>
       <tr>
          <td>Audi</td>
          <td>Audi</td>
          <td>Audi</td>
       </tr>
       <tr>
          <td>Hyundai</td>
          <td>Hyundai</td>
          <td>Hyundai</td>
       </tr>
       <tr>
          <td>BMW</td>
          <td>BMW</td>
          <td>BMW</td>
       </tr>
       <tr>
          <td>Marcedes-Benz</td>
          <td>Marcedes-Benz</td>
          <td>Marcedes-Benz</td>
       </tr>

       <tr>
          <td>Mitsubishi</td>
          <td>Mitsubishi</td>
          <td>Mitsubishi</td>
       </tr>
       <tr>
          <td>Toyota</td>
          <td>Toyota</td>
          <td>Toyota</td>
       </tr>
       <tr>
          <td>Honda</td>
          <td>Honda</td>
          <td>Honda</td>
       </tr>
       <tr>
          <td>Volvo</td>
          <td>Volvo</td>
          <td>Volvo</td>
       </tr>

      </tbody>
    </table>
    </div>



          </div>
<!-- end col-md-9 -->

    <div class="col-md-3 hiddenmobile" id="hiddenmobile"> 
    <figure class="figure hiddenmobile" style="border: 1px solid lightgrey">
    <img src="{% static 'img/12.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 13em;height: 13em">
    
    <figcaption class="figure-caption" style="padding-left: 10px;">
    <a href="#">KOKO COLLECTION</a>
    
    </figcaption>
    </figure>
    <figure class="figure" style="border: 1px solid lightgrey">
    <img src="{% static 'img/13.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 13em;height: 13em">
    
    <figcaption class="figure-caption" style="padding-left: 10px;">
   <!--  <a href="#">KOKO COLLECTION</a> -->
    
    </figcaption>
    </figure>
    
    </div>
 <!--    end of col-md-3 -->


        </div>
      </div>
      <!-- end container fluid -->
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

<div class="container hiddenmobile" style="padding: 15px 15px">
  <div class="row">

    <div class="col-md-3 col-xs-6 col-sm-6">
      <img src="http://ecommerce.multitails.com/uploads/banner_image/default.jpg" class="img-fluid">
    </div>
     <div class="col-md-3 col-xs-6 col-sm-6">
      <img src="http://ecommerce.multitails.com/uploads/banner_image/default.jpg" class="img-fluid">
    </div>
     <div class="col-md-3 col-xs-6 col-sm-6">
      <img src="http://ecommerce.multitails.com/uploads/banner_image/default.jpg" class="img-fluid">
    </div>
     <div class="col-md-3 col-xs-6 col-sm-6">
      <img src="http://ecommerce.multitails.com/uploads/banner_image/default.jpg" class="img-fluid">
    </div>

  </div>
</div>


<div class="container-fluid moveup" style="padding: 10 10" >
  <div class="row" style="background: url(http://ecommerce.multitails.com/uploads/others/parralax_search.jpg) center top no-repeat; background-attachment:fixed; background-size:cover;">
    <div class="col-md-12">
      <center><h5>SEARCH FOR PRODUCTS AND SERVICES</h5></center>

<div class="form-group row">
  <div class="col-md-4">

  <label for="selectstate"><p>ALL CATEGORIES</p></label>
  <select class="form-control" id="selectstate" name="state" >
  
  <option>ALL CATEGORIES</option>

  </select>
  <label for="state" style="color: red; font-size: 10px; display: none;" id="statestatus"></label>
  </div>

  <div class="col-md-4">

  <label for="selectpostcode"><p>ALL SUB CATEGORIES</p></label>
  <select class="form-control" id="selectpostcode" name="postcode" >

  <option>ALL SUB CATEGORIES</option>

  </select>
  </div>

  <div class="col-md-4">

  <label for="selectpostcode"><p>ALL BRANDS</p></label>
  <select class="form-control" id="selectpostcode" name="postcode" >

  <option>ALL BRANDS</option>

  </select>
  </div>
  <div class="col-md-4">
  <label for="selectpostcode">Minimum Price</label>
  <div class="slidecontainer">
  <input type="range" min="1" max="10000" value="50" class="slider" id="myRange">
  <p>Value: <span id="demoslide"></span></p>
  </div>
  </div>

  <div class="col-md-4">
  <label for="selectpostcode">Maximum Price</label>
  <div class="slidecontainer">
  <input type="range" min="1" max="10000" value="50" class="slider" id="myRange2">
  <p>Value: <span id="demoslide2"></span></p>
  </div>
  </div>

<div class="col-md-4">
  <label for="selectpostcode">what are you looking fo</label>
  <div class="slidecontainer">
    <input type="text" class="form-control" placeholder="what are you looking for"> 
  </div>
  </div>

<div class="col-md-4">
 
  <div class="slidecontainer">
  <input type="submit" value="SEARCH" class="btn btn-success">
  </div>
  </div>



</div>



    </div>
  </div>
</div>
<!-- end of container fluid -->



<div class="container">
  <div class="row">
    <div class="col-md-12">
<center><h5>LATEST PRODUCTS AND SERVICES</h5></center>      

<div class="owl-carousel">

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/12.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-filter" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%; margin-left: 10px; margin-right: 10px;">
<i class="fa fa-heart" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-shopping-cart" style="font-size: 1.2em;"></i>
</span>

<!--  <i class="fa fa-heart" style="font-size: 1.5em;"></i> 
 <i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i> -->
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/13.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-filter" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%; margin-left: 10px; margin-right: 10px;">
<i class="fa fa-heart" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-shopping-cart" style="font-size: 1.2em;"></i>
</span>

<!--  <i class="fa fa-heart" style="font-size: 1.5em;"></i> 
 <i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i> -->
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/15.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-filter" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%; margin-left: 10px; margin-right: 10px;">
<i class="fa fa-heart" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-shopping-cart" style="font-size: 1.2em;"></i>
</span>

<!--  <i class="fa fa-heart" style="font-size: 1.5em;"></i> 
 <i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i> -->
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/16.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-filter" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%; margin-left: 10px; margin-right: 10px;">
<i class="fa fa-heart" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-shopping-cart" style="font-size: 1.2em;"></i>
</span>

<!--  <i class="fa fa-heart" style="font-size: 1.5em;"></i> 
 <i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i> -->
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/18.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-filter" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%; margin-left: 10px; margin-right: 10px;">
<i class="fa fa-heart" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-shopping-cart" style="font-size: 1.2em;"></i>
</span>

<!--  <i class="fa fa-heart" style="font-size: 1.5em;"></i> 
 <i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i> -->
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/19.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-filter" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%; margin-left: 10px; margin-right: 10px;">
<i class="fa fa-heart" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-shopping-cart" style="font-size: 1.2em;"></i>
</span>

<!--  <i class="fa fa-heart" style="font-size: 1.5em;"></i> 
 <i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i> -->
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/20.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-filter" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%; margin-left: 10px; margin-right: 10px;">
<i class="fa fa-heart" style="font-size: 1.2em;"></i>
</span>
<span style="background-color: green; color: white;padding: 5px 5px; border-radius: 100%">
<i class="fa fa-shopping-cart" style="font-size: 1.2em;"></i>
</span>

<!--  <i class="fa fa-heart" style="font-size: 1.5em;"></i> 
 <i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i> -->
 </p>
</figcaption>
</center>
</figure>
</div>




</div>





    </div>
  </div>
  <!-- end of row -->


    <div class="row">
    <div class="col-md-12">
<center><h5>BUNDLED PRODUCTS / SERVICES</h5></center>      

<div class="owl-carousel">

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/12.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i></button>

<!--  <i class="fa fa-heart" style="font-size: 1.5em;"></i> 
 <i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i> -->
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/13.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i></button>
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/15.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i></button>

 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/16.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i></button>

 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/18.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i></button>

 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/19.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i></button>

 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/20.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i></button>

 </p>
</figcaption>
</center>
</figure>
</div>




</div>





    </div>
  </div>
  <!-- end of row -->



    <div class="row">
    <div class="col-md-12">
<center><h5>CLASSIFIED ADS</h5></center>      

<div class="owl-carousel">

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/12.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<b>Name: Customer</b>
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/13.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<b>Name: Customer</b>
 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/15.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<b>Name: Customer</b>

 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/16.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<b>Name: Customer</b>

 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/18.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<b>Name: Customer</b>

 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/19.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<b>Name: Customer</b>

 </p>
</figcaption>
</center>
</figure>
</div>

<div>     
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{% static 'img/20.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">
<center>
<figcaption class="figure-caption">
<h6>Apple</h6>
<hr>
<h6>$30.00</h6>
<p>Multitails</p>
<hr>
<p>
<b>Name: Customer</b>

 </p>
</figcaption>
</center>
</figure>
</div>




</div>





    </div>
  </div>
  <!-- end of row -->

<div class="row">
<div class="col-md-4">
  <button type="button" class="btn btn-success btn-sm btn-block">BUSINESS SERVICES</button>
  <ul class="list-group">
  <li class="list-group-item">WEB HOST</li>
  <li class="list-group-item">WEBSITE</li>
  <li class="list-group-item">BUSINESS TRAINING</li>
  <li class="list-group-item">SERVICES</li>

</ul>
</div>
<div class="col-md-4">
  <img src="{% static 'img/category_27.jpg' %}" class="img-fluid" style="height: 20em; width: 100%" >
</div>

<div class="col-md-4 hiddenmobile">
  <img src="{% static 'img/category28.jpg' %}" class="img-fluid" style="width: 10em; height: 10em">
  <img src="{% static 'img/category29.png' %}" class="img-fluid" style="width: 10em; height: 10em">
  <img src="{% static 'img/category30.png' %}" class="img-fluid" style="width: 10em; height: 10em">
  <img src="{% static 'img/category31.png' %}" class="img-fluid" style="width: 10em; height: 10em">

</div>
  
</div>
<!-- end of row -->
<hr>
<div class="row hiddenmobile">
  <div class="col-md-4">
  <h5>Latest Products / Services</h5>

    <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/17.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->

  <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/21.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->

  <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/22.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->



  </div>
  <div class="col-md-4">
    <h5>Recently Viewed</h5>
      <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/23.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->


  <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/20.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->


  <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/18.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->


  </div>
  <div class="col-md-4">
    <h5>Most Viewed</h5>

  <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/15.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->

  <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/17.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->


  <div class="toast" data-autohide="false">
      <div class="toast-body">
        <div class="row">
        <div class="col-md-4"><img src="{% static 'img/16.jpg' %}" class="img-fluid"></div>
          <div class="col-md-8">
            <p>Ultra Light Embroidered</p>
            <p>women fashion</p>
            <p><b>$9.19</b> 
            <span style="margin-left: 7.5em"><i class="fa fa-shopping-cart"></i> <i class="fa fa-heart" style="color: red;"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- end class toast -->
  </div>

</div>



<div class="row">
  <div class="col-md-12">
    <center><h5>REGISTERED BUSINESSES/VENDORS</h5></center>

<div class="owl-carousel">
  <div>     
  <figure class="figure" style="border: 1px solid lightgrey">
  <img src="{% static 'img/13.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">

  </figure>
  </div>


  <div>     
  <figure class="figure" style="border: 1px solid lightgrey">
  <img src="{% static 'img/15.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">

  </figure>
  </div>

  <div>     
  <figure class="figure" style="border: 1px solid lightgrey;">
  <img src="{% static 'img/16.jpg' %}" class="figure-img img-fluid rounded" alt="Car image" style="width: 200px; height: 200px">

  </figure>
  </div>


</div>



  </div>
</div>
<!-- end of row -->

</div> 
<!-- end of container -->





</body>

</html>
{% endblock %}